

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style16.css">
</head>

<body>


<section class="hexagon-gallery">




    <div class="hex"><img src="../static/img/e.jpg" alt="some"></div>
    <div class="hex"><img src="../static/img/e1.jpg"></div>
    <div class="hex"><img src="../static/img/e2.jpg"></div>
    <div class="hex"><img src="../static/img/e3.jpg"></div>
    <div class="hex"><img src="../static/img/e5.jpg"></div>
    <div class="hex"><img src="../static/img/e6.jpg"></div>
    <div class="hex"><img src="../static/img/e7.jpg"></div>
    <div class="hex"><img src="../static/img/e8.jpg"></div>
    <div class="hex"><img src="../static/img/e9.jpg"></div>
    <div class="hex"><img src="../static/img/e10.jpg"></div>
    
  </section>
</body>

  </html>