<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/techerpage/style.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <!-- <div class="logo-image">
                <img src="images/logo.png" alt="">
            </div> -->

            <span class="logo_name">Eventcloud</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/enterresult">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Result Enter</span>
                    </a>
                </li>

            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="/logout">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

        </div>

        <div class="dash-content">
            {% ifequal teacher.mangingfevent 'Not selected' %}
            <span style="font-size: 25px; color: rgb(110, 110, 110);margin-left: 30%;">Event not set</span>{% else %}
            <div class="overview">
                <div class="title">

                    <span class="text">Enter the Result</span>
                </div>


            </div>

            <div class="activity">
                <form action="/addresult" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Chest No</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="chesno" placeholder="Enter Chest No">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Grade</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="grade" placeholder="Grade">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


                </form>
            </div>
            {% endifequal %}
        </div>
    </section>

    <script src="../static/techerpage/script.js"></script>
</body>

</html>